<!-- dashboard.component.html -->

<!-- <app-sidebar></app-sidebar> -->

<div class="main-content">

  <div class="dashboard-clock-container">
  <div class="dashboard-clock">
    🕒 {{ currentTime | date: 'mediumTime' }}
  </div>
</div>

<div class="dashboard-wrapper">

  <div class="dashboard-grid">

    <div class="card stats">
      <h3>Total Tasks</h3>
      <p>{{ stats.total }}</p>
    </div>

    <div class="card stats">
      <h3>Completed</h3>
      <p>{{ stats.completed }}</p>
    </div>

    <div class="card stats">
      <h3>Pending</h3>
      <p>{{ stats.pending }}</p>
    </div>

    <div class="card stats" >
      <h3>Total Tasks Assigned</h3>
      <p>{{ stats.assignedByAdmin }}</p>
    </div>


  </div>

  

  <div class="actions">
    <button routerLink="/tasks">Go to Task Page</button>
    <!-- <button (click)="logout()">Logout</button> -->
   <button *ngIf="isAdmin" routerLink="/task-form">Create New Task</button>
  </div>
</div>




<ng-template #loadingBlock>
  <div class="loading">Loading Dashboard...</div>
</ng-template>

</div>