<div class="sidebar">

  <nav class="nav-links">
     <!-- <a [routerLink]="dashboardLink" routerLinkActive="active"><i class="icon">🏠</i> Dashboard</a> -->
      <!-- <a [routerLink]="dashboardLink" routerLinkActive="active"><i class="icon">🏠</i> Dashboard</a> -->
       <a *ngIf="dashboardLink" [routerLink]="dashboardLink" routerLinkActive="active">
  <i class="icon">🏠</i> Dashboard
  </a>
    <a routerLink="/tasks" routerLinkActive="active"><i class="icon">📋</i> All Tasks</a>
    <!-- <a routerLink="/calendar" routerLinkActive="active"><i class="icon">📅</i> Calendar</a>
    <a routerLink="/settings" routerLinkActive="active"><i class="icon">⚙️</i> Settings</a> -->
    <a (click)="toggleDarkMode(); $event.preventDefault()" href=""><i class="icon">🌗</i> Toggle Dark Mode</a>

</nav>

</div>
